.content {
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
}
.image {
    margin-bottom: 15px;
}
.link {
    text-decoration: none;
    color: black;
}
.title {
    margin: 0 0 20px 0;
}
.text {
    margin: 0;
    width: 15%;
    text-align: center;
}